/Part1/part1a/node_modules
/Part1/part1b/node_modules
/Part1/part1d(anecdotes)/node_modules
/Part2/part2a/node_modules
/Part2/part2b(phonebook v1)/node_modules
/Part2/part2c(phonebook v2)/node_modules
/Part2/part2c(dataforcountries v1)/node_modules
/Part2/part2c(dataforcountries v1)/.env
/Part2/part2d(phonebook v3)/node_modules